---
---

<h1 class="logo">Jo<span>Time</span></h1>

<style>
  .logo {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -0.04em;
    color: var(--text-primary);
  }

  .logo span {
    color: var(--accent-active);
  }
</style>
